@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$accent: #b53471;

$white:             #ffffff;

$mistyRoseLight:    #fcefee;
$mistyRoseDark:     #f9dedc;
$teaRoseLight:      #f6cecb;
$teaRose:           #f3baba;
$teaRoseDark:       #f0a8a8;
$lightcoralLight:   #ed9696;
$lightcoral:        #ea8585;
$lightcoralDark:    #e77373;
$indianLight:       #E46262;
$indianDark:        #E15151;
$poppyLight:        #de3f3f;
$poppyDark:         #dc2e2e;
$fireBrickLight:    #d12323;
$fireBrick:         #c02121;
$fireBrickDark:     #ae1e1e;
$crimsonLight:      #9d1b1b;
$crimson:           #8c1818;
$crimsonDark:       #7a1515;
$roseWoodLight:     #691212;
$roseWood:          #570f0f;
$roseWoodDark:      #460c0c;
$licoriceLight:     #340909;
$licorice:          #230606;
$licoriceDark:      #110303;

$nightLight:        #1F1F1F;
$night:             #141415;
$nightDark:         #0a0a0a;

$flashWhite :           #f3f3f7 ;
$ghostWhite :           #e7e7ef ;
$lavenderLight :        #dadae7 ;
$lavenderDark :         #cecedf ;
$frenchGrayLight :      #c1c1d7 ;
$frenchGrayDark :       #b4b4cf ;
$coolGrayLight :        #a8a8c7 ;
$coolGray :             #9b9bbf ;
$coolGrayDark :         #8f8fb7 ;
$glaucousLight :        #8383af ;
$glaucous :             #7676a7 ;
$glaucousDark :         #6a6aa0 ;
$ultraVioletLight :     #6f6f95 ;
$ultraViolet :          #585889 ;
$ultraVioletDark :      #50507c ;
$delftBlueLight :       #484870 ;
$delftBlueDark :        #404064 ;
$spaceCadetLight :      #383857 ;
$spaceCadet :           #30304b ;
$spaceCadetDark :       #28283e ;
$RaisinBlackLight :     #202032 ;
$RaisinBlackDark :      #181825 ;
$RichBlack :            #101019 ;
$black :                #08080c ;


/* https://dribbble.com/shots/17358553-Sportly-Running-Record-Stats-Activity-Log-and-Challenge */

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;
