@import 'src/assets/styles/variables';

h1 {
  color: $frenchGrayLight;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.senderBlock {
  margin-bottom: 1rem;
p {
  color: $ultraVioletLight;
}
}



.preview {
  background-color: $ultraVioletLight;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: $RichBlack;
  min-height: 50px;
}

  .editorUser {
    margin: 0.5rem 0;
    padding: 0.8rem;
    display: block;
    width: 460px;
    font-size: 18px;
    color: $lavenderLight;
    border: $ultraViolet solid 1px;
    outline: none;
    background: $RaisinBlackDark;
    border-radius: 10px;
    resize: none;
    white-space: nowrap;
  }

.card {
  padding: 1em;
  background-color: $spaceCadetLight;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #222;
  
  .editorMassage {
    padding: 1.2rem;
    display: block;
    width: 100%;
    min-height: 160px;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    color: $coolGrayLight;
  }
  
  .actions {
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 10px;
    
    .tools {
      > button {
        margin-right: 0.4rem;
        background-color: transparent;
        border: none;

        
        &:hover {
          color: #535bf2;
        }
      }
    }
    
    > button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: $RaisinBlackDark;
      color: $coolGrayLight;
      
      &:hover {
        border-color: #535bf2;
      }
      &:focus,
      &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
      }
    }
  }
}

.read-the-docs {
  color: #888;
}
