@import 'src/assets/styles/variables';

.input {
	background-color: $nightLight;
	border: 1px solid #444;
	color: #ccc;
	font-size: 18px;
	padding: 14px;
	border-radius: 10px;
	margin-bottom: 0.7rem;
	outline: none;
	width: 100%;

	&:focus {
		border-color: $crimson;
	}

	&::placeholder {
		color: $lightcoral;
	}
}

.error {
	color: $crimsonDark;
	font-size: 1rem;
}
