@import 'src/assets/styles/variables';


.bgBlock {
	padding: 0;
	background-color: $coolGrayDark;
	width: fit-content;
			border-radius: calc(1rem + 10px);
	
	margin: 2rem;

	
	.firstButton, .secondButton {
		font-size: 18px;
		padding: 1rem;
		border: none;
		border-radius: calc(1rem + 10px);
	}
	
}

.active {
	background-color: $spaceCadetLight;
	font-size: 18px;
	padding: 1rem;
	border: none;
	border-radius: calc(1rem + 10px);
	color: $frenchGrayDark;
	transition: background-color 0.2s ease;
}

.firstButton:not(.active),
.secondButton:not(.active) {
  background-color: transparent;
  color: $spaceCadetDark;
	transition: background-color 0.5s ease;
}